<template>
  <v-container class="">
    <v-row class="justify-space-around">
      <v-col v-for="player in getPlayers" :key="JSON.stringify(player)" :cols="player.size">
        <PlayerTemp :name="player.name" :health="player.health" :power="player.power" \>
      </v-col>
    </v-row>
    <v-row class="pt-10">
      <action-bar
        @attack="attack"
        @giveUp="giveUp"
        @heal="heal"
        @specialAttack="specialAttack"
      ></action-bar>
    </v-row>
    <v-row class="pt-10">
      <logs-table :currLog='currentLog'></logs-table>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import PlayerTemp from '../components/PlayerTemp.vue';
import { Player } from '../types/Player';
import { Log } from '../types/Log'
import ActionBar from '../components/ActionsBar.vue';
import LogsTable from '../components/LogsTable.vue';
import { StateType } from "../store/types";
import { Component, Vue } from "vue-property-decorator";
import { ActionContext } from "vuex";
import { Getter, Action } from "vuex-class";

@Component({
  components: {
    PlayerTemp,
    ActionBar,
    LogsTable,
  },
})
export default class Home extends Vue {
  currentLog: Log = {};

  @Getter getPlayers!: Player[];

  @Action changeHealthByName!: ActionContext<StateType, StateType>;

  attack(hitInfo: { damage: number; activePlayer: string, passivePlayer:string ;action: string, status: string }): void {
    this.hitPlayerByName(hitInfo.passivePlayer, hitInfo.damage);

    this.changeCurrLog({
      damage: hitInfo.damage,
      playerStatus: hitInfo.status,
      activePlayerName: hitInfo.activePlayer,
      passivePlayerName: hitInfo.passivePlayer,
      action: hitInfo.action,
      }
    );
  }

  specialAttack(hitInfo: { damage: number; activePlayer: string, passivePlayer:string ;action: string, status: string  }): void {
    this.hitPlayerByName(hitInfo.passivePlayer, hitInfo.damage);

    this.changeCurrLog( {
      damage: hitInfo.damage,
      playerStatus: hitInfo.status,
      activePlayerName: hitInfo.activePlayer,
      passivePlayerName: hitInfo.passivePlayer,
      action: hitInfo.action,
      }
    );
  }

  heal(healInfo: { heal: number; playerName: string ;action: string, status: string  }): void {
    this.hitPlayerByName(healInfo.playerName, healInfo.heal);

    this.changeCurrLog({
      damage: -healInfo.heal,
      playerStatus: 'ally',
      activePlayerName: healInfo.playerName,
      passivePlayerName: 'himself',
      action: healInfo.action}
    );
  }

  hitPlayerByName(playerName: string, damage: number): void { 
    // eslint-disable-next-line
    // this.changeHealthByName(playerName, damage);
  }
  
  changeCurrLog(
    log: Log
  ): void {
    this.currentLog = log
  }
}
</script>
