<template>
  <v-container class="justify-center">
    <v-row class="justify-center">
      <v-col class="d-flex justify-center border" cols="10">
        <v-btn
          class="ms-2"
          v-for="button in buttons"
          :key="button.text"
          elevation="6"
          :color="button.backColor"
          @click="button.methodName"
          :cols="button.cols"
        >
          {{ button.text }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Emit, Vue } from 'vue-property-decorator';
import { StateType } from "../store/types";
import { ActionContext } from "vuex";
import { Getter} from "vuex-class";
import { Player } from "@/types/Player";

@Component
export default class ActionBar extends Vue {
  @Getter getPlayers!: Player[];

  buttons = [
    {

      text: 'ATTACK',
      backColor: 'red',
      methodName: (): void => {
        this.attack(this.getPlayers[0], this.getPlayers[1]);
        this.attack(this.getPlayers[1], this.getPlayers[0]);
      },
      cols: 1,
    },
    {
      text: 'SPECIAL ATTACK',
      backColor: 'orange',
      methodName: (): void => {
        this.specialAttack(this.getPlayers[0], this.getPlayers[1]);
        this.attack(this.getPlayers[1], this.getPlayers[0]);
      },
      cols: 2,
    },
    {
      text: 'HEAL',
      backColor: 'green',
      methodName: (): void => {
        this.heal(this.getPlayers[0])
        this.attack(this.getPlayers[1], this.getPlayers[0]);
      },
      cols: 1,
    },
    {
      text: 'GIVE UP',
      backColor: 'white',
      methodName: (): void => {
        this.giveUp();
      },
      cols: 1,
    },
  ];

  @Emit('attack')
  attack(
    activePlayer: Player,
    passivePlayer: Player,
  ): { Damage: number; activePlayer: string, passivePlayer:string ;action: string } {
    return {
      Damage: this.generateAttack(activePlayer.power),
      activePlayer: activePlayer.name,
      passivePlayer: passivePlayer.name,
      action: 'hits',
    };
  }

  @Emit('specialAttack')
  specialAttack(
    activePlayer: Player,
    passivePlayer: Player,
  ): { Damage: number; activePlayer: string, passivePlayer:string ;action: string } {
    return {
      Damage: this.generateAttack(activePlayer.power),
      activePlayer: activePlayer.name,
      passivePlayer: passivePlayer.name,
      action: 'hits',
    };
  }

  @Emit('heal')
  heal(player: Player): { heal: number; playerName: string; action: string } {
    return {
      heal: -this.generateAttack(player.power),
      playerName: player.name,
      action: 'heals',
    };
  }

  @Emit('giveUp')
  giveUp(): boolean {
    return false;
  }
  generateAttack(power: number): number {
    return Math.round(Math.random() * 4 * power);
  }
}
</script>

<style scoped>
.border {
  border: 1px solid rgb(78, 78, 78, 0.6);
}
</style>
