<template>
  <v-container>
    <v-row class="justify-center" max-height="20px">
      <v-col
        :class="{ ally: playerStatusName, enemy: !playerStatusName }"
        max-height="10"
        cols="10"
        align="center"
        class="rounded-xl body-2 font-weight-bold"
      >
        {{ message }}
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

type logType = {
  damage?: number;
  playerStatus?: string;
  activePlayerName?: string;
  passivePlayerName?: string;
  action?: string;
};

@Component
export default class AttackLogger extends Vue {
  @Prop() private log!: logType;

  get playerStatusName(): boolean {
    return this.log.playerStatus === 'ally';
  }

  get message(): string {
    return `${this.log.activePlayerName} ${this.log.action} ${this.log.passivePlayerName} FOR ${this.log.damage}`.toUpperCase();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ally {
  background-color: rgba(0, 2, 128, 0.4);
  color: rgba(0, 2, 128);
}

.enemy {
  background-color: rgba(255, 0, 0, 0.4);
  color: rgba(255, 0, 0);
}
</style>
