<template>
  <div class="hello">
    <v-progress-linear :value="health" height="50" color="green">
      {{ health }}
    </v-progress-linear>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class HealthBar extends Vue {
  @Prop() private health!: string;
}
</script>

<style scoped></style>
