<template>
  <v-container>
    <v-row class="mt-5 mb-5 justify-center">
      <v-col cols="10" class="border">
        <attack-logger
          v-for="(log, index) in allLogs"
          :key="index"
          :log="log"
          class="mt-1"
        ></attack-logger>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Watch,
} from 'vue-property-decorator';
import AttackLogger from './AttackLogger.vue';

type logType = {
  damage?: number;
  playerStatus?: string;
  activePlayerName?: string;
  passivePlayerName?: string;
  action?: string;
};

@Component({
  components: {
    AttackLogger,
  },
})
export default class LogsTable extends Vue {
  @Prop() currLog!: logType;

  allLogs: logType[] = [
    {
      damage: 20,
      playerStatus: 'enemy',
      activePlayerName: 'dusa',
      passivePlayerName: 'alonga',
      action: 'Hits',
    },
  ];

  @Watch('currLog', { immediate: true, deep: true })
  addLog(): void {
    this.allLogs.unshift(this.currLog);
  }
}
</script>

<style scoped>
.border {
  border: 1px solid rgb(78, 78, 78, 0.6);
}
</style>
