<template>
  <v-container class="">
    <v-row class="justify-center">
      <v-col class="justify-center">
        <p class="display-2 text-center">{{ name }}</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <health-bar :health="playerHealth"></health-bar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Watch,
} from 'vue-property-decorator';
import HealthBar from './HealthBar.vue';

@Component({
  components: {
    HealthBar,
  },
})
export default class Player extends Vue {
  @Prop() private name!: string;

  @Prop() private health!: number;
}
</script>

<style scoped></style>
